<div class="my-5">
  <div class="text-center">
    <h2>Our Products</h2>
    <!-- using the array products in the product.ts and monitor in a grid-->
    <div class="row">
      @for (product of products; track product.id) {
        <div class="col-md-4">
          <div class="card">
            <img
              [src]="product.image"
              [alt]="product.name"
              class="card-img-top"
              alt="{{ product.name }}"
            />
            <span
              [ngClass]="{
                'badge bg-danger': !product.inStock,
                'badge bg-success': product.inStock,
                'product-badge': true,
              }"
            >
              {{ product.inStock ? 'In Stock' : 'Out of Stock' }}
            </span>
            <div class="card-body">
              <h5 class="card-title image">{{ product.name }}</h5>
              <p [style.color]="product.price <= 100 ? 'green' : 'red'">${{ product.price }}</p>
              <button class="btn btn-primary" [disabled]="!product.inStock">
                {{ product.inStock ? 'Add to Cart' : 'Out of Stock' }}
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
